// Measures
$mobile-header-height: 6rem;
$desktop-header-height: 8rem;

// Colors
$main-text: #383838;
$main-light-text: #afafaf;

$secondary-text: #6a6a6a;
$secondary-light-text: #dcdcdc;

$primary-color: #56a8bb;
$light-primary: #82bfcb;

$secondary-color: #7A98DE;
$light-secondary: #A6B9E0;

