.button {
  font-size: 1.6rem;
  background-color: #5F5F5F;
  color: white;
  padding: .8rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.inactive {
  p {
    text-decoration: line-through;
    opacity: 0.5;
  }
  cursor: default;
}