.form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  svg {
    position: absolute;
    top: 0;
    right:  0;
    width: 4rem;
  }

  &Header {
    margin-bottom: 8rem;
  }
}